<% @page_title = t('blacklight.collections.index.page_title', :application_name => application_name) %>
<% content_for(:head) { render_opensearch_response_metadata } %>
<section>
  <div class="container">
    <div class="row">
      <div id="collections_index_title_cod" class="col-sm-12 text-center">
        <h2 class="h2"><%= t('blacklight.collections.index.cod_title') %></h2>
      </div>
    </div>
    <br>
    <div class="row">
      <div id="content_cod" class="col-sm-12 collections-list">

        <%= render_cod_index(cod_filter(@document_list, true)) %>

      </div>
    </div>
    <div class="row">
      <div id="collections_index_title" class="col-sm-12 text-center">
        <h2 class="h2"><%= t('blacklight.collections.index.title') %></h2>
      </div>
    </div>
    <br>
    <div class="row">
      <div id="content" class="col-sm-12 collections-list">

        <%= render_document_index(cod_filter(@document_list)) %>

        <%= render 'catalog/results_pagination_alt' %>

      </div>
    </div>
  </div>
</section>