<% @page_title = t('blacklight.search.show.title', :document_title => @document[blacklight_config.show.title_field], :application_name => application_name) %>
<% content_for(:head) { render_link_rel_alternates } %>

<header class="main-header main-header-small collection-header">
  <div class="container">
    <div class="main-header-content-block">
      <h1 class="collection-title">
        <small class="h4">
          Collection
        </small>
        <%= @collection_title %>
      </h1>

      <% if @document[blacklight_config.institution_field.to_sym] %>
        <%= link_to_all_col_items(@document, link_class: 'btn btn-info view-all-col') %>
      <% end %>
    </div>
  </div>

  <div class="collection_img">
    <%= render CommonwealthVlrEngine::BannerImageComponent.new(exemplary_document: @exemplary_document) %>
  </div>
</header>

<section>
  <div class="container">
    <div class="row">
      <div id="content" class="col-sm-8 col-sm-push-2">
        <%# this should be in a partial -%>
        <div class="clearfix text-right"><%= link_to 'Back to all Collections', collections_path %></div>
        <div id="document" class="panel panel-default ">
          <div class="panel-body">
            <% if t('blacklight.home.browse.institutions.enabled') %>
                <h4 class="collection-provenance">
                  <% if @document[:institution_ark_id_ssi] %>
                      <%= link_to(@document[blacklight_config.institution_field.to_sym][0],
                                  institutions_path + '/' + @document[:institution_ark_id_ssi],
                                  :id => 'institution_link') %>
                  <% elsif @document[:physical_location_ssim] %>
                      <%= @document[:physical_location_ssim][0] %>
                  <% end %>
                </h4>
            <% end %>

            <div id="collection_desc">
              <%= @document[:abstract_tsi].html_safe if @document[:abstract_tsi].present? %>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>