<% @page_title = t('blacklight.search.show.title', :document_title => @document[blacklight_config.show.title_field], :application_name => application_name) %>
<% content_for(:head) { render_link_rel_alternates } %>

<header class="main-header main-header-small collection-header">
  <div class="container">
    <div class="main-header-content-block">
      <h1>
        <small class="h4">
          Collection
        </small>
        <%= remove_cod_text(@collection_title) %>
      </h1>
      <% if @document[blacklight_config.institution_field.to_sym] %>
          <%= link_to_all_col_items(@collection_title, t('blacklight.home.browse.institutions.enabled') ? @document[blacklight_config.institution_field.to_sym] : nil, 'btn btn-info view-all-col') %>
      <% end %>
    </div>
  </div>

  <div class="collection_img">
    <% if @collection_image_pid && @collection_image_info %>
        <% image_title = @collection_image_info[:title] %>
        
        <% if @collection_image_pid.match(/oai/) || @collection_image_info[:access_master] == false %>
             <% img_element = image_tag(filestream_disseminator_url(@collection_image_key, 'image_thumbnail_300'),
                                        :alt => image_title,
                                        :class => 'collection_img_show') %>
        <% else %>
            <% img_element = iiif_image_tag(@collection_image_pid,
                                            {:size => 'pct:20',
                                             :alt => image_title,
                                             :class => 'collection_img_show'}) %>
        <% end %>
    <%= img_element %>
    <div class="collection_img_caption">
      Cover image: <%= link_to(image_title,
                  solr_document_path(@collection_image_info[:pid])) %>
    </div>
    <% else %>
      <%= image_tag(collection_icon_path,
                    :alt => remove_cod_text(@collection_title),
                    :class => 'collection_img_show') %>
    <% end %>
  </div>
</header>

<section>
  <div class="container">
    <div class="row">
      <div id="content" class="col-sm-8 col-sm-push-2">
        <%# this should be in a partial -%>
        <div class="clearfix text-right"><%= link_to 'Back to all Collections', collections_path %></div>
        <div id="document" class="panel panel-default ">

          <div class="panel-body">

            <% if t('blacklight.home.browse.institutions.enabled') %>
                <h4 class="collection-provenance">
                  <% if @document[:institution_ark_id_ssi] %>
                      <%= link_to(@document[blacklight_config.institution_field.to_sym][0],
                                  institutions_path + '/' + @document[:institution_ark_id_ssi],
                                  :id => 'institution_link') %>
                  <% elsif @document[:physical_location_ssim] %>
                      <%= @document[:physical_location_ssim][0] %>
                  <% end %>
                </h4>
            <% end %>

            <div id="collection_desc">
                <% if @document[:abstract_tsi].present? %>
                  <%= @document[:abstract_tsi].html_safe %>
                <% end %>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</section>