<div class='row'>
  <div id='viewer-container' class="col-md-12">
    <span class="sr-only"><%= t('allmaps.georeferenced')%>: <%= document.georeferenced? %></span>

    <ul class="nav nav-tabs" id="allmaps_tabbed_viewer_tablist" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="item-viewer-tab" data-bs-toggle="tab" data-bs-target="#item-viewer-tab-content" type="button" role="tab" aria-controls="item-viewer-tab-content" aria-selected="true"><%= t('allmaps.item_viewer') %></button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="georeferenced-tab" data-bs-toggle="tab" data-bs-target="#georeferenced-tab-content" type="button" role="tab" aria-controls="georeferenced-tab-content" aria-selected="false"><%= t('allmaps.map_heading') %></button>
      </li>
    </ul>
    <div class="tab-content" id="allmaps_tabbed_viewer_tabcontent">
      <div class="tab-pane fade show active" id="item-viewer-tab-content" role="tabpanel" aria-labelledby="item-viewer-tab">
        <%= media %>
      </div>
      <div class="tab-pane fade" id="georeferenced-tab-content" role="tabpanel" aria-labelledby="georeferenced-tab">
        <%= allmaps_viewer %>
      </div>
    </div>
  </div>
</div>
