<%= content_tag @component,
                id: @id,
                data: {
                  'document-id': @document.id.to_s.parameterize,
                  'document-counter': @counter,
                },
                itemscope: true,
                itemtype: @document.itemtype,
                class: classes.flatten.join(' ') do %>
  <%= header %>
  <% if body.present? %>
    <%= body %>
  <% else %>
    <div class="document-main-section">
      <%= breadcrumb %>
      <%= title %>
      <div class="d-flex mb-3 justify-content-end">
          <%= helpers.galleries_toggle(view_context.instance_variable_get(:@galleries), 'repo_object', @document[:id],
                                       text: t('gallery.save'), show_tooltip: false, context: 'single') %>
      </div>
      <%= content %>
      <% if @document.georeferenced? %>
        <%= allmaps_tabbed_viewer %>
      <% else %>
        <%= media %>
      <% end %>
      <%= harvested_item_link %>
      <div class="row">
        <%= argo_info %>
        <div class="col-sm-8">
          <%= metadata %>
        </div>
        <div class="col-sm-4">
          <%= show_tools %>
          <%= allmaps_links %>
        </div>
      </div>
      <%= more_like_this %>
      <%= explore_collection %>
      <% partials.each do |partial| %>
        <%= partial %>
      <% end %>
    </div>
  <% end %>
  <%= footer %>
<% end %>
