<% @page_title = t('blacklight.search_history.page_title', :application_name => application_name) %>

<header class="bg-white dashboard-header">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= link_to(t('blacklight.users.account_heading'), current_user, class: "btn btn-link") %>
      </div>
      <div class="col-md-8">
        <ul class="nav nav-pills">
          <li role="presentation"><%= link_to 'Favorites', galleries_path %></li>
          <li role="presentation" class="active"><%= link_to 'Search History', blacklight.search_history_path %></li>
          <li role="presentation"><%= link_to 'Edit My Account', edit_user_registration_path %></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div class="dashboard-meta">
      <div class="row">
        <div class="col-md-12">
          <h1 class="h3"><%=t('blacklight.search_history.title')%></h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9" id="search_history_content">

      <%- if @searches.blank? -%>
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="empty_search_history">
              <h4><%=t('blacklight.search_history.no_history')%></h4>
              <p>Search for items by entering keywords in the search bar at the top right.</p>
            </div>
          </div>
        </div>
      <%- else -%>
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>
              <%=t('blacklight.search_history.recent')%>
              <small>
                [<%= link_to t('blacklight.search_history.clear.action_title'),
                             blacklight.clear_search_history_path,
                             data: {
                               turbo_confirm: t('blacklight.search_history.clear.action_confirm'),
                               turbo_method: :delete
                             } %>]
              </small>
            </h3>
            <table id="searches_list" class="table search_history">
              <% @searches.each_with_index do |search,index| %>
                <tr id="document_<%= index + 1 %>">
                  <td class="query"><%= link_to_previous_search(search_state.reset(search.query_params).to_hash) %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      <%- end -%>
      </div>
    </div>
  </div>
</section>
