<%= form_tag search_catalog_path,
             :method => :get,
             :id => 'basic_search_form',
             :class => 'search-header-form' do %>
    <%= render_hash_as_hidden_fields(params_for_search().except(
             :q, :qt, :page, :f, :sort, :mlt_id, :coordinates,
             :spatial_search_type, :view, :range, :date_start,
             :date_end)) %>

    <div class="search-field">
      <label for="q_basic">
        <%= t('blacklight.search.form.search.label') %>
      </label>
      <%= text_field_tag :q,
                       nil,
                       :placeholder => t('blacklight.search.basic_search.form.q'),
                       :class => 'form-control',
                       :id => 'q_basic' %>
    </div>
    <div class="search-field">
      <% unless search_fields.empty? %>
        <label for="search_field">
          <%# TODO: Commented out. Unsure if we should overwrite blacklight locales files %>
          <%#= t('blacklight.search.basic_search.form.select') %>
          Search In
        </label>
        <%= select_tag(:search_field,
                       options_for_select(search_fields,
                                          h(params[:search_field])),
                       :title => t('blacklight.search.basic_search.form.search_indexes'),
                       :id => 'basic_search_indexes',
                       :class=> 'form-control search_index_select') %>
      <% end %>
    </div>
    <div class="search-field search-btn">
      <button type="submit" class="btn btn-secondary btn-block search-field-btn" id="search">
        <i class="icon-search"></i>
        <span class="submit-search-text">
          <%= t('blacklight.search.form.submit') %>
        </span>
      </button>
    </div>

<% end %>
