<section>
  <div class="container">
    <div class="dashboard-meta">
      <div class="row">
        <div class="col-md-6">
          <h1 class="h3"><%= @gallery.name %></h1>
        </div>
        <div class="col-md-6 text-right">
          <%= link_to 'Back to Favorites Lists', galleries_path, class: 'btn btn-default btn-sm' %>
          <%= link_to 'Edit', edit_gallery_path(@gallery), class: 'btn btn-primary btn-sm' %>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <% if @gallery.no_items? %>
          <h4 class="text-center">Oh no, this favorites list is empty.</h4>
          <p class="text-center"><b><%= link_to 'Search the digital collections', search_catalog_path %></b> and click the star that appears on items to add them to the list.</p>
        <% else %>
          <div id="documents" class="row gallery">
            <%= render_documents_as_gallery %>
          </div>

          <% unless @curriculum_materials.empty? %>
            <h3><%= t('educators.curriculumssubhead') %></h3>
            <div id="curriculum-materials" class="row gallery">
              <%= render partial: "gallery_curriculum_material", collection: @curriculum_materials, as: "curriculum_material" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
