<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= render_page_title %></title>
    <%= insert_google_analytics %>
    <%= insert_gtm(:head) %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="manifest" href="/manifest.json">
    <%= favicon_link_tag 'favicon-32x32.png', type: 'image/png', sizes: '32x32' %>
    <%= favicon_link_tag 'favicon-192x192.png', type: 'image/png', sizes: '192x192' %>
    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag "https://code.cdn.mozilla.net/fonts/fira.css", media: "all" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=PT+Serif:400,700,700i", media: "all" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= yield :head %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= render_body_class if defined?(render_body_class) %>">
    <%= insert_gtm(:body) %>

    <% unless current_page?(root_path) %>
      <%= render "shared/navbar" %>
    <% end %>

    <%= yield %>

    <%= render "shared/footer" %>
    <%= render partial: 'shared/modal' %>
  </body>
</html>
